
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    

}


header {
    background-color: #d096cb;
    padding: 20px;
    margin-bottom: 20px;
}


h1 {
    text-align: center;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    margin-bottom: 6px;
}

h2, h3 {
    margin-bottom: 10px;
}


.section-box {
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
    padding: 15px;
    margin: 20px;
    border-radius: 6px;
}


#student-name {
    font-weight: bold;
}


.courses li {
    margin-left: 20px;
    padding: 4px 0;
}

.hobbies li {
    margin-left: 20px;
    padding: 4px 0;
}


footer p {
    text-align: center;
    font-size: 14px;
    margin: 20px 0;
}
